/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2013/11/28, 13:06:40
    Author     : Matsukawa
*/
p.newline {width:800px;  word-wrap: break-word;}
body {font-family: "ＭＳ Ｐゴシック",sans-serif;;}
body {line-height: 1.0;}
span{display: inline-block; width: 17em;}
.point-delete ul{
  list-style-type: none;/*リストの「・」を消す*/
}