/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2013/11/28, 13:06:40
    Author     : Matsukawa
*/
p.newline {width:800px;  word-wrap: break-word;}
body {font-family: "ＭＳ Ｐゴシック",sans-serif;}
body {line-height: 1.0;}
.entry_list{
  display: inline-block; width: 17em; /*文字間隔調整*/
}
.point-delete ul { list-style-type: none;/*リストの「・」マーカー文字を消す*/}
#back,#number,#next {
  margin: 10px 78px; /*文字列間隔調整　左の数値が縦　右の数値が横*/
  font-size:180%;
}
#back,#next{
  cursor:pointer;
  /*#back,#nextにカーソルが乗った時、カーソルの形状をリンクカーソルに指定*/
}
